@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Roboto' , sans-serif;
}
.container{
    width: 1170px;
}
.header-logo img{
    width: 95px;
    height: 76px;
    cursor: pointer;
}
.header-left__title h2{
    color: #369E0F;
    font-size: 18px;
    font-weight: 900;
    line-height: 30px; 
    letter-spacing: 10.08px;
}
.header{
    display: flex;
    padding: 40px 0px;
    align-items: flex-start;
    gap: 30px;
}
.header-left__title h5{
    color: #345F99;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px; 
    letter-spacing: -0.56px;
}
.header-left__title h4{
    color: #345F99;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px; 
    letter-spacing: -0.56px;
}
.header-ceter__top h2{
    color: #345F99;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px; 
    margin-bottom: 0;
}
.header-ceter__top p{
    color: #51C444;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; 
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 81px;
}
.header .container{
    justify-content: space-between;
}
.header-two .container{
    justify-content: space-between;
}
.header-ceter__top img{
    width: 16px;
    height: 17px;
    cursor: pointer;
    margin-left: 78px;
}
.header-icons img{
    cursor: pointer;
}
.header-left__title{
    margin-left: 20px;
}
.header-ceter__top{
    margin-bottom: 20px;
}
.header-btn{
    display: flex;
    width: 222px;
    height: 44px;
    padding: 12px 29.925px 13px 30.125px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(267deg, #3EB40C 0%, #345F99 100%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
}
.header-btn:hover{
    display: flex;
    width: 222px;
    height: 44px;
    padding: 12px 29.925px 13px 30.125px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(267deg, #345F99 0%, #3EB40C 100%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.header-right a{
    margin-top: 13px;
    color: #51C444;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
}
.header-two__title a{
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0;
    text-decoration: none;
}
.header-two{
    background: rgba(204, 223, 236, 0.83);
    padding: 24px 0;
}
.header-two__title{
    border-radius: 30px;
    background: #345F99;
    display: flex;
    padding: 5px 29.719px 5px 30px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.header-two__title svg{
    margin-left: 5px;
}
.header-two__title:first-child{
    margin: 0;
}
.header-two__title img{
    width: 10px;
    cursor: pointer;
}
.title-green{
    border-radius: 30px;
    background: #3EB20C;
}
.header-two-title{
    margin-left: 20px;
}
.header-two-title img{
    cursor: pointer;
}
.main-link__one{
    color: #345F99;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px; 
}
.main-link__two{
    color: #3CA722;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px; 
    margin-left: 14px;
}
.main{
    margin-top: 33px;
}
.main-line__box h1{
    color: #345F99;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
}
.main-line__box img{
    width: 627px;
    height: 2px;
    cursor: pointer;
}
.main-line__box{
    cursor: pointer;
}
.main-line__box{
    justify-content: space-between;
    margin-top: 42px;
}
.main-introduction{
    width: 1170px;
    height: 105px;
    border-radius: 15px;
    background: #D4E5EF;
    justify-content: space-between;
    margin-top: 66px;
}
.main-introduction__left img{
    width: 45px;
    height: 45px;
    margin-left: 30px;
    cursor: pointer;
}
.main-introduction__left h5{
    color: #023887;
    font-size: 20px;
    font-weight: 400;
    margin-left: 41px;
}
.main-introduction__left .main-line__two{
    width: 60px;
    cursor: pointer;
}
.main-introduction__right .btn-one{
    width: 247px;
    height: 44px;
    border-radius: 30px;
    background: #2A5391;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    transition: 0.3s all;
}
.main-introduction__right .btn-one:hover{
    width: 247px;
    height: 44px;
    border-radius: 30px;
    background: #D4E5EF;
    border: 1px solid #2A5391;
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}
.main-introduction__right .btn-two{
    background: #D4E5EF;
    border-radius: 30px;
    border: 2px solid #3EB40C;
    width: 147px;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #3EB40C;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}
.main-introduction__right .btn-two:hover{
    background: #3EB40C;
    border-radius: 30px;
    width: 147px;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-introduction__right{
    margin-right: 40px;
}
.main-boxes__section{
    margin-top: 51px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.main-boxes__section .main-box{
    display: flex;
    width: 368.678px;
    height: 191px;
    flex-shrink: 0;
    padding: 39px 41.491px 43px 20px;
    align-items: flex-start;
    gap: 0.001px;
    border-radius: 15px;
    background: #D4E5EF;
    margin-left: 32px;
}
.main-boxes__section .main-box:first-child{
    margin: 0;
}
.main-box__title{
    margin-left: 15px;
}
.main-box__img img{
    width: 42px;
    height: 42px;
    cursor: pointer;
}
.main-box__title h5{
    color: #345F99;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    text-transform: uppercase;
    margin-bottom: 15px;
}
.main-box__title p{
    color: #345F99;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px; 
}
.main-header{
    justify-content: space-between;
}
.main-products{
    margin-top: 71px;
    margin-bottom: 50px;
}
.main-header__btn a{
    display: flex;
    width: 279.137px;
    height: 56px;
    padding: 17px 40px;
    align-items: center;
    gap: 37px;
    border-radius: 30px;
    background: linear-gradient(267deg, #55C127 0%, #345F99 100%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px; 
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}
.main-header__btn a:hover{
    display: flex;
    width: 279.137px;
    height: 56px;
    padding: 17px 40px;
    align-items: center;
    gap: 37px;
    border-radius: 30px;
    background: linear-gradient(267deg, #345F99 0%, #55C127 100%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px; 
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}
.main-header__btn img{
    cursor: pointer;
}
.main-header__int input{
    width: 861.168px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #cce1ee;
    margin-bottom: 0;
    margin-left: 30px;
    padding-left: 68px;
}
.main-header__int input::placeholder{
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
}
.main-header__int{
    position: relative;
}
.main-header__int img{
    position: absolute;
    top: 20px;
    right: 66px;
    cursor: pointer;
}
.main-products__box{
    display: flex;
    width: 273px;
    height: 448px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: #D4E5EF;
    cursor: pointer;
    margin-left: 25px;
}
.main-products__box:first-child{
    margin: 0;
}
.main-products__box .main-products__title{
    padding: 45px 32px 50px 21px;
    align-self: stretch;
}
.main-products__title h5{
    color: #023887;
    font-size: 16px;
    font-weight: 700;
}
.main-products__title p{
    color: #2A5391;
    font-size: 14px;
    font-weight: 400;
    margin: 25px 0 20px 0;
}
.main-products__title span{
    color: #2A5391;
    font-size: 16px;
    font-weight: 400;
}
.main-products__title .main-green{
    color: #3EB10C;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.main-products__title h6{
    color: #2A5391;
    font-size: 18px;
    font-weight: 400;
}
.main-products__title a{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    background: #2A5391;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 25px;
}
.main-product-boxes{
    justify-content: space-between;
    margin-top: 25px;
}
.boxes-one{
    margin-top: 45px;
}
.last-btn{
    margin-top: 56px;
    margin-bottom: 90px;
}
.footer-box h6{
    margin-bottom: 40px;
}
.footer-boxes{
    padding-top: 150px;
}
.footer-box p{
    display: inline-block;
}
.footer-box:first-child{
    margin-left: 0;
}
.footer .container{
    width: 1920px;
    height: 576px;
}
.footer{
    background-image: url(../images/footer-backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-box__two{
    margin-left: 200px;
}
.footer-box__three{
    margin-left: 200px;
    display: inline-block;
}
.rasm {
    width: 100%;
    height: 100%;
}